<div class="chat">
    <div class="chat-column__left">
        <div class="left-header">
            <div class="left-header__profile">
                {{# Link to="/settings" className="profile-link" }}Профиль >{{/Link}}
            </div>
            <div class="left-header__search">
                <div class="icon"></div>
                <input class="search-input" placeholder="Поиск">
            </div>
        </div>

        {{{ ChatList chatList=chats userInfo=user }}}

        <div class="create-chat">
            {{{ Button label="+" className="create-chat__button" onClick=clickCreateChat }}}
        </div>
    </div>
    <div class="chat-column__right">
        {{{ ChatMessages chatId=selectedChatId  }}}
    </div>

    <div class="modal" data-modal="chats_user_create">
        <p class="modal__title">Добавить пользователя</p>
        {{{ FormItem className="form-item chats_user_create" label="Логин" name="login" type="text"
                     validation="login" }}}
        {{{ Button label="Добавить" className="button text-white" onClick=sendCreateUser }}}
    </div>

    <div class="modal" data-modal="chats_user_remove">
        <p class="modal__title">Удалить пользователя</p>
        {{{ FormItem className="form-item chats_user_remove" label="Логин" name="login" type="text"
                     validation="login" }}}
        {{{ Button label="Удалить" className="button text-white" onClick=sendDeleteUser }}}
    </div>

    <div class="modal" data-modal="chats_create">
        <p class="modal__title">Создать чат</p>
        {{{ FormItem className="form-item chats_create" label="Наименование" name="title" type="text"
                     validation="title" }}}
        {{{ Button label="Создать" className="button text-white" onClick=sendCreateChat }}}
    </div>

    <div class="overlay" id="overlay-modal"></div>
</div>
