<div class="profile">
    <div class="sidebar-with-back-btn">
        {{# Link to="/chats" className="sidebar-with-back-btn__button" }}<-{{/Link}}
    </div>
    <div class="profile-container">
        <div class="profile-information">
            <div class="profile-information__image"></div>
            <div class="profile-information__username">Иван</div>
            <div class="profile-information__items">
                {{{ ProfileItems label="Почта" type="email" name="email" value="pochta@yandex.ru"
                                 readonly="readonly" }}}
                {{{ ProfileItems label="Логин" type="text" name="login" value="ivanivanov" readonly="readonly" }}}
                {{{ ProfileItems label="Имя" type="text" name="first_name" value="Иван" readonly="readonly" }}}
                {{{ ProfileItems label="Фамилия" type="text" name="second_name" value="Иванов" readonly="readonly" }}}
                {{{ ProfileItems label="Имя в чате" type="text" name="chat_name" value="Иван" readonly="readonly" }}}
                {{{ ProfileItems label="Телефон" type="tel" name="phone" value="+7 (909) 967 30 30"
                                 readonly="readonly" }}}
            </div>
            <div class="profile-information__edit-items">
                <div class="edit-item">
                    {{# Link to="/profile/change" className="edit-item__link" }}Изменить данные{{/Link}}
                </div>
                <div class="edit-item">
                    {{# Link to="/profile/change/password" className="edit-item__link" }}Изменить пароль{{/Link}}
                </div>
                <div class="edit-item">
                    {{# Link to="/" className="edit-item__link text-danger" }}Выйти{{/Link}}
                </div>
            </div>
        </div>
    </div>
</div>
