<div class="profile">
    <div class="column__left">
        <a href="/chats"><-</a>
    </div>
    <div class="column__right">
        <div class="profile">
            <div class="profile-information__image"></div>
            <div class="profile-information__username">Иван</div>
            <div class="profile-information__items">
                {{{ ProfileItems title="Почта" value="pochta@yandex.ru" }}}
                {{{ ProfileItems title="Логин" value="ivanivanov" }}}
                {{{ ProfileItems title="Имя" value="Иван" }}}
                {{{ ProfileItems title="Фамилия" value="Иванов" }}}
                {{{ ProfileItems title="Имя в чате" value="Иван" }}}
                {{{ ProfileItems title="Телефон" value="+7 (909) 967 30 30" }}}
            </div>
            <div class="profile-edit__items">
                <div class="edit-item">
                    <a class="edit-item__link" href="/profile/change">Изменить данные</a>
                </div>
                <div class="edit-item">
                    <a class="edit-item__link" href="/profile/change/password">Изменить пароль</a>
                </div>
                <div class="edit-item">
                    <a class="edit-item__link text-danger">Выйти</a>
                </div>
            </div>
        </div>
    </div>
</div>