<div class="form-item">
    <span class="form-item__label">{{ label_title }}</span>
    <label for="{{ label_title }}">
        <input id="{{ label_title }}" class="form-item__input" name="{{ input_name }}" type="{{ input_type }}" value="{{ input_value }}" placeholder="{{ input_placeholder }}">
    </label>

    <span class="form-item__span">{{ error_text }}</span>
</div>