<div class="information-item">
    <label for="text" class="information-item__title">{{ label }}</label>
    <input class="information-item__value" name="{{ name }}" type="{{ type }}" value="{{ value }}"
           placeholder="{{ placeholder }}" {{ readonly }} />
</div>
